<!--$$$$$$$$ -->
<div class="container">
<div class="left">
<!--<%= image_tag "/assets/avito-logo.PNG", alt: "Company Logo" %>-->
<img src="/assets/login_img.PNG" class="img-fluid" style="min-height:100%;" />
</div>
<div class="right-side">
<div class="az">
<h1 class="pb-3" style="margin-buttom: 100px;">Connectez-vous à Avito</h1>
</div>
<div class="ae">
<p class="pb-3" >Entrez votre e-mail et mot de passe</p>
</div>


 
 
    <%= form_for(:session, url: login_path, :html => {class: "form-horizontal", role: "form"}) do |f| %>

        	<div class="form-group">
        		<div class="col-sm-2 control-label" style="height: 100px;">
        		    <%= f.label :email %>
        		
        			<div class="col-sm-4">
        	  		<%= f.email_field :email, class:"form-control",  placeholder:"Entrer votre email"%>
        			</div>
        	    </div>
 
        	
        		<div class="col-sm-2 control-label" style="height: 100px;">
        		    <%= f.label :password %>
        		
        			<div class="col-sm-4">
        	  		<%= f.password_field :password , class:"form-control",  placeholder:"Entrer votre password"%>
        			</div>
        	    </div>
	<% if @user && @user.errors.any? %>
				
   
      <% @user.errors.full_messages.each do |msg| %>
        
		 <% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>" style="color: red; font-size: 14px;"><%= message %></div>
 
 <% end %>
		
      <% end %>
    
<% end %>
 
        	  
        		<div class="col-sm-offset-2 col-sm-4">
        	  	<%= f.submit "Se connecter", class: "btn btn-primary" %>
        		
        	    </div>
			</div>
 
	<% end %>
 
	<p style="margin-top:25px; font-size: 14px;">Pas encore inscrit ? <%= link_to "S'inscrire gratuitement.", inscription_path %></p>
	</div>
	</div>

