<% if @user%>
  <h1>Create a new article</h1>
  <%= @user.id%>

  <% if @article.errors.any? %>
    <div style="border: 1px solid black; padding: 10px; width: 700px; margin: auto;">
      <h3 style="text-align: center;">There are some errors:</h3>
      <ul>
        <% @article.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <div class="card-box" style="border: 1px solid black; padding: 10px; width: 90%; margin: auto;">
      <div class="form-group">
        <%= form.label :article_type %>
        <%= form.text_field :article_type, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :image_url %>
        <%= form.text_area :image_url, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :etat %>
        <%= form.number_field :etat, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :annee_modele %>
        <%= form.number_field :annee_modele, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :orgine %>
        <%= form.text_area :orgine, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :premiere_main %>
        <%= form.check_box :premiere_main, class: "form-check-input" %>
      </div>

      <div class="form-group">
        <%= form.label :marque %>
        <%= form.text_field :marque, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :nombre_portes %>
        <%= form.number_field :nombre_portes, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :modele %>
        <%= form.number_field :modele, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :kilometrage %>
        <%= form.number_field :kilometrage, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :ville %>
        <%= form.text_field :ville, class: "form-control" %>
      </div>

      <%= form.submit %>
    </div>
  <% end %>
<%else%>
<div style="display: flex; justify-content: center; align-items: center; height: 100px; background-color: #f2f2f2;">
  <h1 style="font-size: 24px; color: #333;">Please login or create an account</h1>
</div>


<%end%>