<h1><%= @user.nom %></h1>
<p>City: <%= @user.ville %></p>

<h1>your Articles</h1>
<div class="container_article">
    <% @articles.each do |article| %>
        <div class="card box">
            <img src="/assets/image1.jpeg" alt="Denim Jeans" style="width:100%">
            <h1><%= article.title %></h1>
            <p><%= article.description %></p>
            <p class="price"><%= article.price %></p>
            <p><button id="myButton"><%= link_to "see details", articles_path("article/detail/#{article.id}") %></button></p>

        </div>
    <% end %>
 </div>



<p>number of articles: <%= pluralize(@user.articles.count,"article") %></p>
<p>Joined: <%= time_ago_in_words(@user.created_at) %></p>
