<!DOCTYPE html>
<html>
  <head>
    <title>Avito</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>
  </head>

  <body>
     <header class="header">
        <nav class="navbar">
          
            <div href="#" class="nav-logo">
                <%= link_to 'home', class: "navbar-brand" do %>
                <%= image_tag "/assets/avito-logo.PNG", alt: "Company Logo" %>
                <% end %>
            </div>

            <ul class="nav-menu">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<% if logged_in? %>

      	
      	<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @user_courant.nom %> <span class="caret"></span></a>
          	<ul class="dropdown-menu">
                <li class="x"><%= link_to "Mes annonces", user_path(user_courant) %></li>
            	<li class="x"><%= link_to "Réglages", edit_user_path(user_courant) %></li>
            	<li role="separator" class="divider"></li>
            	<li class="x"><%= link_to "Se déconnecter", logout_path, method: "delete" %></li>
          	</ul>
      	</li>

    	<% else %>
      	<li style="font-size:18px; color: black;"><%= link_to "Se connecter", login_path %></li>
    	<% end %>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$"#>-->
                
                <li class="nav-button">
                    <button ><%= link_to "A+ DEPOSER UNE ANNONCE", new_article_path %></button>
                </li>

            </ul>
      
          
        </nav>
</header>
    <div class="container">
    <!--$$$$$$$$$$$$$$$$$$$$$$$$$"#>-->
      <% flash.each do |name, msg|%>
        <%= msg%>
      <%end%>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$"#>-->
    <%= yield %>
    </div>
  </body>
</html>
